{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["react", "react-native", "jsx-a11y", "import"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": 1,
    "no-unused-vars": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
